<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.epl.eclipse.dt.launching.EplLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<intAttribute key="maxLoops" value="-1"/>
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Mon Jun 23 23:44:21 BST 2014&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=BPMN&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://BPMN/Simplified,http\://www.eclipse.org/emf/2002/Ecore,http\://www.eclipse.org/gmf/runtime/1.0.2/notation&#13;&#10;modelUri=platform\:/resource/BPMN2StateChart/models/input/default.pm_diagram&#13;&#10;type=EMF&#13;&#10;modelFile=/BPMN2StateChart/models/input/default.pm_diagram&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="repeatWhileMatchesFound" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/BPMN2StateChart/src/filtering/filtering.epl"/>
</launchConfiguration>
