<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
<intAttribute key="migratedModel" value="1"/>
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Sun Jul 27 11:49:19 BST 2014&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=Original&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://www.omg.org/spec/BPMN/20100524/MODEL-XMI&#13;&#10;modelUri=platform\:/resource/BPMN2StateChart/models/input/bikeshop.bpmn&#13;&#10;type=EMF&#13;&#10;modelFile=/BPMN2StateChart/models/input/bikeshop.bpmn&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Sun Jul 27 11:49:23 BST 2014&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=Migrated&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://BPMN/Simplified&#13;&#10;modelUri=platform\:/resource/BPMN2StateChart/models/bikeshop_normalized.pm&#13;&#10;type=EMF&#13;&#10;modelFile=/BPMN2StateChart/models/bikeshop_normalized.pm&#13;&#10;expand=false&#13;&#10;metamodelFile=&#13;&#10;"/>
</listAttribute>
<intAttribute key="originalModel" value="0"/>
<stringAttribute key="source" value="/BPMN2StateChart/src/normalization/Preprocessing.mig"/>
</launchConfiguration>
